@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: #0a0614;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 560px;
    min-width: 280px;
    width: 100%;
    background: #0e0d2c;
    padding: 20px 20px 40px;
    margin: 0 16px;
    border-radius: 5px;
}

.container h2 {
    font-size: 1.9em;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 500;
}

.input-box {
    width: 100%;
   
    position: relative;
}

.input-box input {
    width: 100%;
    height: 64px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 19px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
}

::placeholder {
    color: #ffff;
}

#message {
    position: absolute;
    bottom: -30px;
    color: #fff;
    font-size: 16px;
    display: none;
}

button {
    width: 100%;
    height: 40px;
    margin-top: 24px;
    font-size: 1.2em;
    font-weight: 500;
    background: blueviolet;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.pass-visible {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}


.pass-visible p {
    font-size: 1.2em;
    color: #fff;
    margin-left: 8px;
}

.pass-visible input[type="checkbox"] {
    width: 20px;
    /* display: none; */
}
